* {
    box-sizing: border-box;
    padding: 0;
}

:root {
    --primary-color: #1ebfc1;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
}

/* Common */

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    width: 186px;
    height: 68px;
    flex-shrink: 0;
    border-radius: 14px;
    background: var(--primary-color);
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
    border: transparent;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    opacity: 0.9;
}

.heading.lv1 {
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16; /* 116.129% */
}

.heading.lv2 {
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33; /* 133.333% */
}

a {
    text-decoration: none;
}
/* Header */
.header {
    background-color: #fff;
}

.header.fixed {
    position: sticky;
    top: -44px;
    z-index: 1;
}

.header .logo {
    display: block;
    margin: auto 0;
}

.header .body {
    display: flex;
    justify-content: space-between;
    padding: 52px 0 8px;
}

.nav ul {
    display: flex;
    gap: 40px;
    padding: 0 16px;
}
.nav ul a {
    line-height: 48px;
    color: #2f3a3b;
    font-size: 1.6rem;
    font-weight: 400;
}

.nav li:hover a,
.nav li.active a {
    color: #2f3a3b;
    text-shadow: 1px 0 0 currentColor;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.actions .signin-btn {
    font-family: Poppins;
    color: #494949;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 24px;
}

.actions .signup-btn {
    font-family: Poppins;
    width: 108px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
}

.actions .signin-btn:hover {
    color: var(--primary-color);
}

.actions .signup-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
}

/* Hero */

.hero {
    padding: 50px 0;
}

.hero .body {
    display: flex;
    gap: 136px;
    align-items: center;
    justify-content: center;
}

.hero .sub-title {
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
}

.hero .info-block .title {
    width: 458px;
    padding: 18px 0 46px;
}

.hero .info-block .desc {
    color: #9da6a5;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78; /* 177.778% */
    margin-bottom: 52px;
}

.hero .info-block .watch-video {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: transparent;
    background-color: #fff;
    margin-left: 50px;
    box-shadow: 0px 0px 3px 3px #dedcdc90;
}

.hero .info-block .watch-video:hover {
    box-shadow: 0px 0px 6px 6px #dedcdc90;
    cursor: pointer;
}

.hero .image-block {
    position: relative;
}

.hero .image-block .hero-img {
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.hero .image-block .hero-courses {
    display: flex;
    position: absolute;
    top: 149px;
    left: -40px;
    width: 157px;
    height: 75px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    justify-content: center;
    align-items: center;
}

.hero .image-block .hero-courses::before {
    content: "";
    display: block;
    width: 36px;
    height: 40px;
    background-color: #ff8282;
    border-radius: 5px;
    position: absolute;
    left: 25px;
}

.hero .image-block .hero-courses::after {
    content: "";
    position: absolute;
    left: 29px;
    top: 45px;
    width: 28px;
    height: 4px;
    background-color: #fff;
}

.hero .hero-courses .label-block {
    display: inline-flex;
    flex-direction: column;
    margin-left: 40px;
    line-height: 1.4;
}

.hero .hero-courses .hero-courses__label {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero .image-block .hero-schedules {
    position: absolute;
    width: 124px;
    height: 132px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    bottom: 46px;
    left: -65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.hero .hero-schedules .hero-schedules__label {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}
.hero .hero-schedules .hero-schedules__img {
    width: 74px;
    height: 6px;
}

.hero .image-block .hero-students {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 207px;
    height: 90px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
    bottom: 41px;
    right: 45px;
    justify-content: center;
    align-items: center;
}

.hero .hero-students .avatar-list {
    display: flex;
    position: relative;
}

.hero .hero-students .avatar {
    width: 33px;
    height: 33px;
    object-fit: cover;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.hero .hero-students .avatar:last-child {
    display: inline-block;
    line-height: 33px;
    color: #fff;
    width: 33px;
    height: 33px;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

.hero .hero-students .avatar + .avatar {
    margin-left: -10px;
}

.hero .hero-students .hero-student__label {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 8px;
}

/* Features */

.features {
    margin-top: 109px;
    padding: 50px 0;
}

.features .features-content {
    width: 1024px;
    height: 559px;
    align-items: center;
}

.features .features-info .title {
    width: 577px;
    padding: 18px 0;
}

.features .features-info .sub-title {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.features .features-info .desc {
    width: 590px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 80px;
}

.features .features-list {
    display: flex;
    gap: 20%;
}

.features .features-list .features-item:nth-child(1) {
    width: 16%;
}
.features .features-list .features-item:nth-child(2) {
    width: 22%;
}
.features .features-list .features-item:nth-child(3) {
    width: 22%;
}

.features .features-item .item-title {
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
    padding: 26px 0 16px;
}

.features .features-item .item-desc {
    color: #9da6a5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.69; /* 168.75% */
}
